<div class="container rrscontainer">
<br>
<br>
<p>This is Ruby on Rails sample application.</p>
<p>By Ning Chen.</p>

</ul>
<li>Ubuntu 14.04.3 LTS
<li>ruby 2.2.1p85
<li>Rails 4.2.4
<li>Nginx 
<li>Phusion Passenger version 5.0.16
<li>MYSQL
</ul>
</div>
